<head>
	<link rel="stylesheet" href="~/css/articleListStyle.css" />
</head>
<body>

	<div style="height:100px;"></div>

	<div id="content" class="site-content">
		<div id="primary" class="content-area column full">
			<main id="main" class="site-main">
				<div class="grid portfoliogrid">

					<article class="hentry">
						<header class="entry-header">
							<div class="entry-thumbnail">
								<a href="portfolio-item.html"><img src="./assets/img/work1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="p1" /></a>
							</div>
							<h2 class="entry-title"><a href="portfolio-item.html" rel="bookmark">Sunset Beach</a></h2>
							<p class="entry-summary">A beautiful sunset on the beach, perfect for a summer evening.</p>
							<a class='portfoliotype' href='portfolio-category.html'>summer</a>
						</header>
					</article>

					<article class="hentry">
						<header class="entry-header">
							<div class="entry-thumbnail">
								<a href="portfolio-item.html"><img src="./assets/img/work2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="p1" /></a>
							</div>
							<h2 class="entry-title"><a href="portfolio-item.html" rel="bookmark">Earl of Moreland</a></h2>
							<p class="entry-summary">A beautiful sunset on the beach, perfect for a summer evening.</p>
							<a class='portfoliotype' href='portfolio-category.html'>hat</a>
						</header>
					</article>

					<article class="hentry">
						<header class="entry-header">
							<div class="entry-thumbnail">
								<a href="portfolio-item.html"><img src="./assets/img/work3.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="p1" /></a>
							</div>
							<h2 class="entry-title"><a href="portfolio-item.html" rel="bookmark">Eliza and John</a></h2>
							<p class="entry-summary">A beautiful sunset on the beach, perfect for a summer evening.</p>
							<a class='portfoliotype' href='portfolio-category.html'>summer</a>
						</header>
					</article>

					<article class="hentry">
						<header class="entry-header">
							<div class="entry-thumbnail">
								<a href="portfolio-item.html"><img src="./assets/img/work4.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="p1" /></a>
							</div>
							<h2 class="entry-title"><a href="portfolio-item.html" rel="bookmark">Hot Afternoon</a></h2>
							<p class="entry-summary">A beautiful sunset on the beach, perfect for a summer evening.</p>
							<a class='portfoliotype' href='portfolio-category.html'>pink</a>
						</header>
					</article>

					<article class="hentry">
						<header class="entry-header">
							<div class="entry-thumbnail">
								<a href="portfolio-item.html"><img src="./assets/img/work5.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="p1" /></a>
							</div>
							<h2 class="entry-title"><a href="portfolio-item.html" rel="bookmark">Long Walks</a></h2>
							<p class="entry-summary">A beautiful sunset on the beach, perfect for a summer evening.</p>
							<a class='portfoliotype' href='portfolio-category.html'>hat</a>
						</header>
					</article>

					<article class="hentry">
						<header class="entry-header">
							<div class="entry-thumbnail">
								<a href="portfolio-item.html"><img src="./assets/img/work6.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="p1" /></a>
							</div>
							<h2 class="entry-title"><a href="portfolio-item.html" rel="bookmark">Twilight</a></h2>
							<p class="entry-summary">A beautiful sunset on the beach, perfect for a summer evening.</p>
							<a class='portfoliotype' href='portfolio-category.html'>hat</a>
						</header>
					</article
				</div>
			</main>
		</div>
	</div>

	<ul class="pagination justify-content-center">
		<li class="page-item disabled">
			<a class="page-link" href="#" tabindex="-1">Önceki</a>
		</li>
		<li class="page-item"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item">
			<a class="page-link" href="#">Sonraki</a>
		</li>
	</ul>

</body>