<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gül Çiçek Zengin</title>
    <link rel="stylesheet" href="./assets/css/styles.css" />
    <link rel="stylesheet"
          href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
</head>
<body>
    

    <main class="main">
        <!-- HOME SECTION -->
        <section class="home bd_grid" id="home">
            <div class="home_data" data-aos="fade-down">
                <h1 class="home_title">
                    Selam, <br />Ben <span class="home_title-color">Gül Çiçek ZENGİN</span><br />Genel Müdür Yrd./Ortak - Mubitek Tasarım Bilişim
                </h1>
                <a href="#contact" class="button"> İletişim</a>
            </div>

            <div class="home_social">
                <a href="#" class="home_social-icon" data-aos="fade-down" id="socialLinksFacebook">
                    <i class="bx bxl-facebook-circle"></i>
                </a>
                <a href="#"
                   class="home_social-icon"
                   data-aos="fade-down"
                   data-aos-delay="250"
                   id="socialLinksInstagram">
                    <i class="bx bxl-instagram"></i>
                </a>
                <a href="#"
                   class="home_social-icon"
                   data-aos="fade-down"
                   data-aos-delay="300"
                   id="socialLinksX">
                    <i class="bx bxl-twitter"></i>
                </a>
                <a href="#"
                   class="home_social-icon"
                   data-aos="fade-down"
                   data-aos-delay="350"
                   id="socialLinksLinkedin">
                    <i class="bx bxl-linkedin"></i>
                </a>
            </div>

            <div class="home_img" data-aos="fade-down" data-aos-delay="500">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1144 637" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="177.27478 122.14261 97.82164 111.55026 113.90043 30.12255 199.25237 46.97622 177.27478 122.14261" fill="#2f2e41" /><path d="M100.89824,474.41435V138.49443c0-6.0874,4.95215-11.04004,11.04004-11.04004H656.8582c6.0874,0,11.04004,4.95264,11.04004,11.04004V474.41435c0,6.0874-4.95264,11.04004-11.04004,11.04004H111.93828c-6.08789,0-11.04004-4.95264-11.04004-11.04004ZM665.89824,138.49443c0-4.99268-4.04736-9.04004-9.04004-9.04004H111.93828c-4.99268,0-9.04004,4.04736-9.04004,9.04004V474.41435c0,4.99268,4.04736,9.04004,9.04004,9.04004H499.26438c92.02934,0,166.63386-74.60452,166.63386-166.63386V138.49443Z" fill="#3f3d56" /><g><path d="M612.72706,177.75075l-8.22992-3.89856c3.37555,4.71082,6.28418,12.06805,7.84137,17.92249,2.63654-5.45343,6.88672-12.1261,11.09375-16.11194l-8.69812,2.23767c5.35974-26.26794,25.5191-45.12573,48.60437-45.12573l.32679-.9488c-24.11316,0-45.46577,18.59639-50.93824,45.92488Z" fill="#3f3d56" /><path d="M650.60627,217.77471h-52c-2.20557,0-4-1.79443-4-4s1.79443-4,4-4h52c2.20557,0,4,1.79443,4,4s-1.79443,4-4,4Z" fill="#6c63ff" /></g><g><path d="M496.2159,247.81797v106c0,9.37402-7.62598,17-17,17h-106c-9.37402,0-17-7.62598-17-17v-106c0-9.37402,7.62598-17,17-17h106c9.37402,0,17,7.62598,17,17Zm-23.57585,121c11.91601,0,21.57585-9.65984,21.57585-21.57585v-46.8651c0-37.31184-30.24722-67.55906-67.55906-67.55906h-53.44094c-8.28427,0-15,6.71573-15,15v91.21062c0,16.45222,13.33716,29.78938,29.78938,29.78938h84.63478Z" fill="#3f3d56" /><g><path d="M440.32637,274.11016h-34.22061c-.86273,0-1.56471-.70199-1.56471-1.56472,0-.86273,.70199-1.56439,1.56471-1.56439h34.22061c.86273,0,1.56439,.70166,1.56439,1.56439s-.70166,1.56471-1.56439,1.56471Z" fill="#3f3d56" /><path d="M440.32637,307.47378h-34.22061c-.86273,0-1.56471-.70199-1.56471-1.56472,0-.86273,.70199-1.56439,1.56471-1.56439h34.22061c.86273,0,1.56439,.70166,1.56439,1.56439s-.70166,1.56471-1.56439,1.56471Z" fill="#3f3d56" /><path d="M423.32637,353.47378h-34.22061c-.86273,0-1.56471-.70199-1.56471-1.56472,0-.86273,.70199-1.56439,1.56471-1.56439h34.22061c.86273,0,1.56439,.70166,1.56439,1.56439s-.70166,1.56471-1.56439,1.56471Z" fill="#3f3d56" /><path d="M458.68951,290.80291h-70.94689c-.86273,0-1.56471-.70199-1.56471-1.56472s.70199-1.56439,1.56471-1.56439h70.94689c.86273,0,1.56439,.70166,1.56439,1.56439,0,.86273-.70166,1.56471-1.56439,1.56471Z" fill="#3f3d56" /></g></g><path d="M183.61978,302.61995H66.34496c9.8298-21.93448,15.87304-42.82434,6.42592-59.44071l110.8489-6.42599c-5.5394,22.43144-6.2165,44.44525,0,65.8667Z" fill="#ffb6b6" /><path d="M224.00986,485.45439h-86.21598c-.62359,0-1.19236-.35629-1.46448-.91737l-.52506-1.08263-11.45719-23.51785c-.73767-1.5142-3.0078-1.04796-3.08896,.63441l-1.10388,22.88344-.02268,.45363c-.0433,.86625-.75827,1.54637-1.6256,1.54637H33.61971c-.85776,0-1.56884-.66712-1.62511-1.52303-.01048-.15948-.02067-.31851-.03028-.47697-5.41998-83.65002,14.07001-140.35004,25.5-165.72003l.01001-.01001c4.48999-9.97998,7.75-15.10999,7.75-15.10999l1.13-.01001h.01001l22.82996-.39996h.01001l20.22003-.34003,15.27997-.25,6.13-.10999h.01001l3.84003-.06,19.08997-.33002,17.04999-.28998,12.24005-.20001h.33997l1.82001,7.84998v.01001l.07001,.35004v.01001l.31,1.28998,.01001,.03998,.62,2.71002v.02002l.03998,.14996v.01001l.15002,.65002,.01001,.02997,1.44,6.22998,2.32996,10.13,3.07001,13.25,3.87,16.82001,1.96002,8.47003,2.69,11.66998,23.79999,103.14001h0c.24008,1.02157-.53506,2-1.58446,2Z" fill="#2f2e41" /><path d="M166.68852,107.28386l-46.6709-1.62849-18.44831,24.73856-9.7071,2.10791c-14.55116,3.1598-24.53307,16.58027-23.37361,31.42535l4.40964,102.84751,2,12,110,18,24.73388-155.64774-32.54609-11.69246-10.39751-22.15064Z" fill="#6c63ff" /><circle cx="149.65671" cy="61.49005" r="41.8927" fill="#ffb6b6" /><g><path d="M616.18463,481.56505l-36.31872-13.49725c-5.44735-2.02442-8.23214-8.10321-6.20769-13.55067l35.68052-96.00996c2.02442-5.44735,8.10321-8.23214,13.55056-6.20772l36.31872,13.49725c5.44725,2.02438,8.23203,8.10317,6.20762,13.55052-13.65214,38.80589-28.54458,82.40946-35.68052,96.00997-2.02446,5.44746-8.10325,8.23224-13.55049,6.20786Z" fill="#3f3d56" /><path d="M656.46909,404.97193c-.2305-.08566-.48759,.03212-.57325,.26262l-4.97021,13.37395c-.08566,.2305,.03212,.48759,.26262,.57325s.48759-.03212,.57325-.26262l4.97021-13.37395c.08566-.2305-.03212-.48759-.26262-.57325Z" fill="#3f3d56" /><path d="M664.47535,378.99786l-35.67988,96.00824c-1.76209,4.74148-6.89382,7.24846-11.67191,5.81524l-.00209-.00078c-.07052-.02145-.14102-.04289-.21285-.0672-.12562-.03956-.24969-.08328-.37506-.12988,0,0-.4473-.20429-1.26406-.57917-.82511-.37799-2.02516-.93099-3.51945-1.62663-.44861-.20716-.92075-.42781-1.41929-.66064-.99287-.46412-2.08295-.97388-3.24987-1.52646-.46587-.21832-.94691-.44703-1.43839-.67963-2.51228-1.18813-5.32196-2.52958-8.27724-3.96558-.50037-.24067-1.00415-.48496-1.51134-.73291-.13248-.06588-21.67089-14.86742-21.25464-15.9875l35.67988-96.00824c1.83509-4.9379,7.32401-7.45246,12.26193-5.61737l5.33704,1.98342c.85259,.31685,1.29104,1.23609,1.04812,2.11377-.01471,.05875-.0294,.1175-.03992,.1778-.163,.91215,.39931,1.79893,1.26861,2.12199l18.75941,6.97163c.8693,.32306,1.87426,.01873,2.34652-.77849,.03142-.05254,.05866-.10662,.0859-.16072,.38921-.82332,1.32157-1.23312,2.17417-.91627l5.33705,1.98343c4.9379,1.83509,7.45246,7.32401,5.61737,12.26191Z" fill="#6c63ff" /><path d="M603.40442,373.83554c-.2305-.08566-.48759,.03212-.57325,.26262l-1.24255,3.34349c-.08566,.2305,.03212,.48759,.26262,.57325s.48759-.03212,.57325-.26262l1.24255-3.34349c.08566-.2305-.03212-.48759-.26262-.57325Z" fill="#3f3d56" /><path d="M599.67677,383.866c-.2305-.08566-.48759,.03212-.57325,.26262l-2.40744,6.47801c-.08566,.2305,.03212,.48759,.26262,.57325s.48759-.03212,.57325-.26262l2.40744-6.47801c.08566-.2305-.03212-.48759-.26262-.57325Z" fill="#3f3d56" /><path d="M596.25975,393.06059c-.2305-.08566-.48759,.03212-.57325,.26262l-2.40744,6.47801c-.08566,.2305,.03212,.48759,.26262,.57325s.48759-.03212,.57325-.26262l2.40744-6.47801c.08566-.2305-.03212-.48759-.26262-.57325Z" fill="#3f3d56" /><rect x="618.65109" y="355.11225" width="8.69434" height="1.11466" rx=".08614" ry=".08614" transform="translate(162.92241 -194.74653) rotate(20.38675)" fill="#e6e6e6" /><circle cx="654.21998" cy="366.91587" r=".89173" fill="#e6e6e6" /><circle cx="656.51863" cy="367.77013" r=".89173" fill="#e6e6e6" /><circle cx="658.81727" cy="368.62438" r=".89173" fill="#e6e6e6" /></g><g><path d="M527.13739,178.39369h-31.3623c-4.03564,0-7.31885-3.2832-7.31885-7.31885v-35.3623c0-4.03564,3.2832-7.31885,7.31885-7.31885h31.3623c4.03564,0,7.31885,3.2832,7.31885,7.31885v35.3623c0,4.03564-3.2832,7.31885-7.31885,7.31885Z" fill="#fff" /><path d="M527.13739,178.39369h-31.3623c-4.03564,0-7.31886-3.28321-7.31886-7.31885-1.57703-13.02136-2.01147-25.14868,0-35.3623,0-4.03564,3.28322-7.31884,7.31886-7.31884h31.3623c4.03564,0,7.31885,3.2832,7.31885,7.31885v35.3623c0,4.03564-3.2832,7.31885-7.31885,7.31885Zm-31.3623-49c-3.48438,0-6.31885,2.83447-6.31885,6.31885v35.3623c0,3.48438,2.83447,6.31885,6.31885,6.31885h31.3623c3.48438,0,6.31885-2.83447,6.31885-6.31885v-35.3623c0-3.48438-2.83447-6.31885-6.31885-6.31885h-31.3623Z" fill="#3f3d56" /><path d="M523.96846,149.89369h-25.84115c-1.09605,0-1.98778-.89174-1.98778-1.98778s.89174-1.98778,1.98778-1.98778h25.84115c1.09605,0,1.98778,.89174,1.98778,1.98778s-.89174,1.98778-1.98778,1.98778Z" fill="#6c63ff" /><path d="M523.96846,160.89369h-25.84115c-1.09605,0-1.98778-.89174-1.98778-1.98778s.89174-1.98778,1.98778-1.98778h25.84115c1.09605,0,1.98778,.89174,1.98778,1.98778s-.89174,1.98778-1.98778,1.98778Z" fill="#6c63ff" /><path d="M523.96846,138.89369h-25.84115c-1.09605,0-1.98778-.89174-1.98778-1.98778s.89174-1.98778,1.98778-1.98778h25.84115c1.09605,0,1.98778,.89174,1.98778,1.98778s-.89174,1.98778-1.98778,1.98778Z" fill="#6c63ff" /></g><g><path d="M135.41246,116.42483c2.29554,4.32749,5.37816,7.77771,8.64644,10.00985l19.26405,42.60633,20.00564-9.75968-21.69542-42.16906c-.01513-3.95779-1.14294-8.44495-3.43848-12.77244-5.24414-9.88614-14.59531-15.19504-20.88646-11.85785-6.29115,3.33719-7.13991,14.05672-1.89579,23.94283l.00002,.00002Z" fill="#ffb6b6" /><path d="M178.78963,143.2799s29.34127-15.37561,38.44501,.76875c7.7674,13.77452,13.37977,82.70112,14.86009,102.63982,.25983,3.49976-.65327,6.97551-2.5962,9.89799v.00002c-5.75394,8.65487-18.15819,9.47999-25.00778,1.6635l-59.45564-117.06693,28.20206-13.4031,6.89737,16.70483-1.34492-1.20489Z" fill="#6c63ff" /></g><path d="M241.52013,308.20187c.64418-.91274,1.02384-2.02553,1.02384-3.22764v-102.59386c0-3.09594-2.50975-5.60566-5.60566-5.60566H81.85817c-3.09592,0-5.60566,2.50973-5.60566,5.60566v102.59386c0,1.20211,.37965,2.3149,1.02383,3.22764h-19.36854v5.37802c67.3402,3.76631,135.00048,3.76631,202.98088,0v-5.37802h-19.36855Z" fill="#3f3d56" /><g><path d="M408.13739,531.39369h-31.3623c-4.03564,0-7.31885-3.2832-7.31885-7.31885v-35.3623c0-4.03564,3.2832-7.31885,7.31885-7.31885h31.3623c4.03564,0,7.31885,3.2832,7.31885,7.31885v35.3623c0,4.03564-3.2832,7.31885-7.31885,7.31885Z" fill="#fff" /><path d="M408.13739,531.39369h-31.3623c-4.03564,0-7.31886-3.28321-7.31886-7.31885-1.57703-13.02136-2.01147-25.14868,0-35.3623,0-4.03564,3.28322-7.31884,7.31886-7.31884h31.3623c4.03564,0,7.31885,3.2832,7.31885,7.31885v35.3623c0,4.03564-3.2832,7.31885-7.31885,7.31885Zm-31.3623-49c-3.48438,0-6.31885,2.83447-6.31885,6.31885v35.3623c0,3.48438,2.83447,6.31885,6.31885,6.31885h31.3623c3.48438,0,6.31885-2.83447,6.31885-6.31885v-35.3623c0-3.48438-2.83447-6.31885-6.31885-6.31885h-31.3623Z" fill="#3f3d56" /><path d="M404.96846,502.89369h-25.84115c-1.09605,0-1.98778-.89174-1.98778-1.98778s.89174-1.98778,1.98778-1.98778h25.84115c1.09605,0,1.98778,.89174,1.98778,1.98778s-.89174,1.98778-1.98778,1.98778Z" fill="#6c63ff" /><path d="M404.96846,513.89369h-25.84115c-1.09605,0-1.98778-.89174-1.98778-1.98778s.89174-1.98778,1.98778-1.98778h25.84115c1.09605,0,1.98778,.89174,1.98778,1.98778s-.89174,1.98778-1.98778,1.98778Z" fill="#6c63ff" /><path d="M404.96846,491.89369h-25.84115c-1.09605,0-1.98778-.89174-1.98778-1.98778s.89174-1.98778,1.98778-1.98778h25.84115c1.09605,0,1.98778,.89174,1.98778,1.98778s-.89174,1.98778-1.98778,1.98778Z" fill="#6c63ff" /></g><g><path d="M134.5386,294.62831c-4.89857,.02591-9.38514,1.15606-12.87879,3.01579l-46.68092-2.7008-.63535,22.25024,47.42155,.34406c3.51312,1.82273,8.01139,2.90535,12.90996,2.87945,11.19077-.05918,20.23205-5.88017,20.19437-13.00155-.03768-7.12138-9.14005-12.84637-20.33079-12.78719h-.00003Z" fill="#ffb6b6" /><path d="M89.68917,132.57829s-39.68241-4.42168-49.79093,20.19641c-7.72191,18.80578-27.78296,92.1002-39.04032,134.06299-4.11574,15.34178,7.07334,30.53237,22.94515,31.16096l70.09517,2.77605,4.05432-31.00906-50.05432-7.99094,28-84,13.79093-65.19641Z" fill="#6c63ff" /></g><path d="M191.56027,29.14839c2.01449-10.20198-10.34929-14.16434-19.60836-18.89805l-7.86094-6.64878c-8.2413-4.21337-17.8775-4.75517-26.53916-1.49218l-27.03182,8.99811c-12.26987,4.62226-16.55126,15.62535-23.62176,26.66722l-11.85183,15.8224c-6.96029,10.86977-4.87941,27.83983-3.24718,40.64348l.68396,5.3652-6.51175,15.57165,50.04462,8.93446,10.08683-24.03093-6.29473-11.42158c-2.23346-4.05255-1.33972-9.11391,2.1466-12.15646l.00003-.00002c12.54082-10.94449,14.94346-29.72819,14.94346-29.72819l10.60165,9.3493c7.70458,2.89056,14.81705,4.38096,21.34709,4.49414,7.18186,.12447,13.65922-1.41696,19.44496-4.59378l1.01841,15.49073c-2.99055,18.31255-7.45406,22.33938-27.56367,36.34892l24.2032,24.13365,1.13429-9.82756c2.6983-23.3783,14.35607-39.64923,17.51203-58.45856,2.18226-13.00611-2.85552-26.17979-13.03592-34.56314h-.00001Z" fill="#2f2e41" /></svg>
            </div>
        </section>

        <!-- ABOUT SECTION -->
        <section class="about section" id="about">
            <h2 class="section-title" data-aos="fade-down">Hakkımda</h2>

            <div class="about_container bd_grid">
                <div class="about_img" data-aos="fade-down" data-aos-delay="50">
                    <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 1032 741.75278" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M247.4579,701.19842c-12.25095-1.00787-23.067-9.87117-29.218-20.51384-2.06275-3.569-3.47609-8.25063-1.14018-11.64717a6.40928,6.40928,0,0,1,11.315,1.47119,62.04539,62.04539,0,0,1-.96485-12.64086c.09416-3.586.77176-7.64052,3.75358-9.6347,3.45928-2.31349,8.44549-.47663,10.96167,2.83815s3.19894,7.62671,3.80283,11.74426a10.83041,10.83041,0,0,1,12.03865-13.65713c5.06672.76515,9.03581,5.1519,10.58457,10.03641s1.06522,10.18071.06842,15.207c-1.16883,5.89373-3.06582,11.74062-6.481,16.68417s-8.488,8.929-14.37353,10.13822Z" transform="translate(-202.9391 -197.32743)" fill="#f2f2f2" /><path d="M997.0609,303.32743a106.03391,106.03391,0,0,1-71,100.08c-.66016.23-1.33008.46-2,.67v-107.71h-138.77c.04-.67.08984-1.34.1499-2H924.0609v-21.04a5.002,5.002,0,0,0-5-5H790.98082c.23-.67.47021-1.34.73-2a106.01022,106.01022,0,0,1,205.3501,37Z" transform="translate(-202.9391 -197.32743)" fill="#f2f2f2" /><path d="M919.0609,266.32743h-487a7.00778,7.00778,0,0,0-7,7v330a7.00778,7.00778,0,0,0,7,7h487a7.00779,7.00779,0,0,0,7-7v-330A7.00778,7.00778,0,0,0,919.0609,266.32743Zm5,337a5.002,5.002,0,0,1-5,5h-487a5.002,5.002,0,0,1-5-5v-330a5.002,5.002,0,0,1,5-5h487a5.002,5.002,0,0,1,5,5Z" transform="translate(-202.9391 -197.32743)" fill="#3f3d56" /><rect x="223.1218" y="97.03998" width="499" height="2" fill="#3f3d56" /><circle cx="240.1218" cy="84" r="6" fill="#3f3d56" /><circle cx="257.3718" cy="84" r="6" fill="#3f3d56" /><circle cx="274.6218" cy="84" r="6" fill="#3f3d56" /><path d="M562.0609,335.32743h-88a7.00778,7.00778,0,0,0-7,7v88a7.00778,7.00778,0,0,0,7,7h88a7.00779,7.00779,0,0,0,7-7v-88A7.00778,7.00778,0,0,0,562.0609,335.32743Zm5,95a5.002,5.002,0,0,1-5,5h-88a5.002,5.002,0,0,1-5-5v-88a5.002,5.002,0,0,1,5-5h88a5.002,5.002,0,0,1,5,5Z" transform="translate(-202.9391 -197.32743)" fill="#3f3d56" /><path d="M720.0609,335.82743h-88a6.51259,6.51259,0,0,0-6.5,6.5v88a6.51259,6.51259,0,0,0,6.5,6.5h88a6.51259,6.51259,0,0,0,6.5-6.5v-88A6.51259,6.51259,0,0,0,720.0609,335.82743Z" transform="translate(-202.9391 -197.32743)" fill="#6c63ff" /><path d="M878.0609,335.82743h-88a6.51259,6.51259,0,0,0-6.5,6.5v88a6.51259,6.51259,0,0,0,6.5,6.5h88a6.51259,6.51259,0,0,0,6.5-6.5v-88A6.51259,6.51259,0,0,0,878.0609,335.82743Z" transform="translate(-202.9391 -197.32743)" fill="#e6e6e6" /><path d="M562.0609,467.82743h-88a6.51259,6.51259,0,0,0-6.5,6.5v88a6.51259,6.51259,0,0,0,6.5,6.5h88a6.51259,6.51259,0,0,0,6.5-6.5v-88A6.51259,6.51259,0,0,0,562.0609,467.82743Z" transform="translate(-202.9391 -197.32743)" fill="#e6e6e6" /><path d="M720.0609,467.82743h-88a6.51259,6.51259,0,0,0-6.5,6.5v88a6.51259,6.51259,0,0,0,6.5,6.5h88a6.51259,6.51259,0,0,0,6.5-6.5v-88A6.51259,6.51259,0,0,0,720.0609,467.82743Z" transform="translate(-202.9391 -197.32743)" fill="#6c63ff" /><path d="M878.0609,467.82743h-88a6.51259,6.51259,0,0,0-6.5,6.5v88a6.51259,6.51259,0,0,0,6.5,6.5h88a6.51259,6.51259,0,0,0,6.5-6.5v-88A6.51259,6.51259,0,0,0,878.0609,467.82743Z" transform="translate(-202.9391 -197.32743)" fill="#e6e6e6" /><path d="M540.5609,482.32743h-88a6.50745,6.50745,0,0,1-6.5-6.5v-88a6.50744,6.50744,0,0,1,6.5-6.5h88a6.50745,6.50745,0,0,1,6.5,6.5v88A6.50745,6.50745,0,0,1,540.5609,482.32743Z" transform="translate(-202.9391 -197.32743)" fill="#6c63ff" /><polygon points="202.746 492.088 214.466 488.491 206.17 441.573 188.872 446.881 202.746 492.088" fill="#a0616a" /><path d="M403.482,680.85789h38.53073a0,0,0,0,1,0,0v14.88687a0,0,0,0,1,0,0H418.36887A14.88686,14.88686,0,0,1,403.482,680.8579v0A0,0,0,0,1,403.482,680.85789Z" transform="translate(825.89112 1024.95669) rotate(162.93912)" fill="#2f2e41" /><polygon points="102.748 492.358 115.008 492.357 120.84 445.069 102.746 445.07 102.748 492.358" fill="#a0616a" /><path d="M303.06,686.18167h38.53073a0,0,0,0,1,0,0v14.88687a0,0,0,0,1,0,0H317.94689A14.88686,14.88686,0,0,1,303.06,686.18168v0a0,0,0,0,1,0,0Z" transform="translate(441.74335 1189.90807) rotate(179.99738)" fill="#2f2e41" /><path d="M304.80743,552.60788a9.16224,9.16224,0,0,1,.318-14.04558l9.50536-119.69459,19.33086,4.8297L318.48407,540.45594a9.21188,9.21188,0,0,1-13.67664,12.15194Z" transform="translate(-202.9391 -197.32743)" fill="#a0616a" /><circle cx="140.57921" cy="150.55523" r="24.56103" fill="#a0616a" /><path d="M322.16166,415.18605c-5.54194-7.60815-5.71269-18.08683.25708-25.36412,3.89587-4.74914,10.41248-8.54951,21.29248-8.54951,29,0,40,23,40,23s12,22,5,42-7,22-7,22l-46-4S343.47142,444.44079,322.16166,415.18605Z" transform="translate(-202.9391 -197.32743)" fill="#ccc" /><path d="M307.9766,435.09469l9.90967-32.4209a15.50189,15.50189,0,0,1,21.93018-9.24512h0a15.53,15.53,0,0,1,7.08789,20.00977L334.306,442.12984Z" transform="translate(-202.9391 -197.32743)" fill="#ccc" /><path d="M380.71122,463.27242l39,202-21,6-51-133-23,136-22,3s-9.65032-179.945,33-213Z" transform="translate(-202.9391 -197.32743)" fill="#2f2e41" /><path d="M436.84246,453.80485a10.52712,10.52712,0,0,0-.96265,1.3493l-49.53505,2.40166-9.53834-29.11951-16.56185,7.87143,15.58776,43.3713,61.26206-11.98076a10.49579,10.49579,0,1,0-.25193-13.89342Z" transform="translate(-202.9391 -197.32743)" fill="#a0616a" /><path d="M353.31425,407.17672a15.50085,15.50085,0,0,1,16.3623-17.28223h0a15.52954,15.52954,0,0,1,14.53467,15.47168v31.335l-26.936,4.14453Z" transform="translate(-202.9391 -197.32743)" fill="#ccc" /><path d="M348.91975,372.66645c-3.68637-.01605-6.53017-3.89721-6.36494-7.57991s2.63867-6.92285,5.61866-9.09293,6.47479-3.49191,9.798-5.08739,6.61743-3.58561,8.66924-6.64822a14.71557,14.71557,0,0,0,1.02332-13.50438,21.66865,21.66865,0,0,0-9.3332-10.22418,28.37777,28.37777,0,0,0-37.60707,8.25038l-4.20808,11.45787c-4.28786,5.15613-4.968,12.81333-2.33217,18.97968s8.24814,10.80579,14.58112,13.0114a35.79392,35.79392,0,0,0,19.8411.59488" transform="translate(-202.9391 -197.32743)" fill="#2f2e41" /><path d="M326.47317,334.50613c-1.80894-2.89931-4.94439-4.74325-8.18587-5.82543a25.72431,25.72431,0,0,0-33.83244,23.00283c-.34357,6.31437,1.63365,12.48912,2.79545,18.70518s1.39291,13.08161-2.03446,18.396c-2.61053,4.0478-6.96387,6.59634-11.26083,8.77251-3.58128,1.81371-7.45507,3.51578-11.45314,3.1544s-8.01642-3.52812-7.91033-7.54108a32.0544,32.0544,0,0,0-2.68163,9.08033c-.28127,3.15593.49659,6.56125,2.77606,8.76193,3.3131,3.19859,8.56255,2.9646,13.1157,2.27441,9.85694-1.49417,19.83818-4.29543,27.62552-10.52031s12.95465-16.47494,10.90388-26.23127c-.85666-4.07547-2.86993-7.796-4.49677-11.62968s-2.89692-8.027-2.14959-12.124a14.73513,14.73513,0,0,1,7.49255-9.98176,19.60142,19.60142,0,0,1,12.52266-1.899c2.79906.45932,6.29406,1.17251,7.95419-1.12742a4.50752,4.50752,0,0,0-.09367-4.80858,13.24754,13.24754,0,0,0-3.59259-3.5596" transform="translate(-202.9391 -197.32743)" fill="#2f2e41" /><path d="M511.4238,702.67257h-307.294a1.19069,1.19069,0,1,1,0-2.38137h307.294a1.19069,1.19069,0,1,1,0,2.38137Z" transform="translate(-202.9391 -197.32743)" fill="#3f3d56" /></svg>
                </div>

                <div>
                    <h2 class="about_subtitle"
                        data-aos="fade-down"
                        data-aos-delay="350"
                        id="aboutTitleText">
                    </h2>
                    <p class="about_text" data-aos="fade-down" data-aos-delay="450" id="aboutDescriptionText"></p>
                </div>
            </div>
        </section>

        <!-- SKILLS SECTION -->
        <section class="skills section" id="skills">
            <h2 class="section-title" data-aos="fade-down">Yetenekler</h2>

            <div class="skills_container bd_grid">
                <div>
                    <h2 class="skills_subtitle"
                        data-aos="fade-down"
                        data-aos-delay="250">
                        Profesyonel Yetenekler
                    </h2>
                    <p class="skills_text" data-aos="fade-down" data-aos-delay="350">
                        Without sharpen your weapon; standing on the battlefield would not
                        increase your chance of winning
                    </p>
                    <!-- SKILLS HTML -->
                    <div class="skills_data" data-aos="fade-right">
                        <div class="skills_name">
                            <i class="bx bx-cloud skill_icon"></i>
                            <span class="skill_name">Tasarım Düşünürü</span>
                        </div>

                        <div><span class="skill_percentage">100%</span></div>

                        <div class="skill_bar skill_html"></div>
                    </div>

                    <!-- SKILLS css -->
                    <div class="skills_data" data-aos="fade-right" data-aos-delay="250">
                        <div class="skills_name">
                            <i class="bx bx-shape-square skill_icon"></i>
                            <span class="skill_name"> Endüstriyel Tasarımcı</span>
                        </div>

                        <div><span class="skill_percentage">100%</span></div>

                        <div class="skill_bar skill_css"></div>
                    </div>

                    <!-- SKILLS JS -->
                    <div class="skills_data" data-aos="fade-right" data-aos-delay="250">
                        <div class="skills_name">
                            <i class="bx bxs-paint skill_icon"></i>
                            <span class="skill_name">Amatör Ressam</span>
                        </div>

                        <div><span class="skill_percentage">100%</span></div>

                        <div class="skill_bar skill_js"></div>
                    </div>

                    <!-- SKILLS UI/UX -->
                    <div class="skills_data" data-aos="fade-right" data-aos-delay="250">
                        <div class="skills_name">
                            <i class="bx bx-code skill_icon"></i>
                            <span class="skill_name">Teknoloji Tutkunu</span>
                        </div>

                        <div><span class="skill_percentage">100%</span></div>

                        <div class="skill_bar skill_ui"></div>
                    </div>
                </div>

                <div data-aos="fade-left" data-aos-delay="350">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         data-name="Layer 1"
                         viewBox="0 0 938.75919 806.74836"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M294.89814,748.84714c-.01.03-.01.07-.02.1h-64.81c-1.22-.77-2.42-1.57-3.6-2.38a121.65165,121.65165,0,0,1-20.07-17.04,96.68864,96.68864,0,0,1-16.99-25.01c-8.55-18.24-11.18-38.99-4.56-57.74a.00976.00976,0,0,1,.01-.01c.16-.47.34-.95.52-1.43.27.47.53.93.81,1.39l.01.01a135.34394,135.34394,0,0,0,12.6,17.77v.01c.36005.43.72.86,1.09,1.28a.00976.00976,0,0,0,.01.01,141.09387,141.09387,0,0,0,40.41,32.56c.05.03.09.05.14.08a1.1925,1.1925,0,0,0,.16.08c.01.01.02.01.03.02,3.41,1.84,6.91,3.52,10.47,5.04v.01c2.8,1.21,5.65,2.31,8.52,3.33,6.12,2.15,12.72,4.11005,18.58,6.94,5.7,2.75,10.72,6.32,13.99,11.69.25.44.5.87.73,1.31l-1.91,13.22,3.81-.02-.36,6.5-.1,1.88Z" transform="translate(-181.12525 -149.05289)" fill="#f0f0f0" />
                        <path d="M278.89814,748.94711h-1.37c-.13-.8-.26-1.59-.41-2.38a50.95838,50.95838,0,0,0-1.57995-6.39c-.3-.94-.64-1.86-1.03-2.76995-2.21-5.18-6.01-9.73005-11.63-11.25a21.39644,21.39644,0,0,0-5.01-.71c-3.35-.14-6.75.29-10.07995.47-.82.04-1.65.06994-2.45.06h-.02a30.01893,30.01893,0,0,1-12.59-2.54,47.5016,47.5016,0,0,1-13.18006-9.36,101.92424,101.92424,0,0,1-7.13-7.56v-.01c-.3-.33-.59-.67-.87994-1.02a120.985,120.985,0,0,1-13.81-20.56,115.33451,115.33451,0,0,1-5.33-11.37994.53254.53254,0,0,1-.05-.11005,121.34,121.34,0,0,1-7.5-26.66.00976.00976,0,0,1,.01-.01c-.07995-.41-.13995-.83-.2-1.24-.13-.85,1.22-.89,1.34-.04.06.42005.12.82.19,1.24l.01.01a120.52536,120.52536,0,0,0,7.1,25.56006v.01c.17005.42.34.83.51,1.24a119.49526,119.49526,0,0,0,19.05,31.4l.01.02c.08.1.17005.19.26.29a.03677.03677,0,0,1,.01.03c.01-.01.01,0,.01,0,1.85,2.19,3.79,4.29,5.81,6.33a51.789,51.789,0,0,0,12.84,9.88,28.55843,28.55843,0,0,0,12.87,3.14c.45,0,.9.01,1.35,0q.54,0,1.08-.03c3.39-.16,6.83-.59,10.24-.53a27.6366,27.6366,0,0,1,4.62.48,18.15912,18.15912,0,0,1,11.98,8.78,31.72826,31.72826,0,0,1,3.02,6.83c.25.78.46,1.56994.67,2.37v.01c.32,1.28.6,2.58.84,3.88995a.58522.58522,0,0,1,.02.13C278.63813,747.35715,278.76814,748.15714,278.89814,748.94711Z" transform="translate(-181.12525 -149.05289)" fill="#fff" />
                        <path d="M212.93134,706.14229a18.01812,18.01812,0,0,1-23.28368-1.49436c-.61977-.6031.28829-1.59454.90889-.99064a16.68439,16.68439,0,0,0,21.66152,1.34581c.69117-.51989,1.40049.62228.71327,1.13919Z" transform="translate(-181.12525 -149.05289)" fill="#fff" />
                        <path d="M244.61162,725.04986A34.72848,34.72848,0,0,0,239.1189,700.344c-.48342-.718.65636-1.43044,1.1392-.71327a36.12282,36.12282,0,0,1,5.66341,25.72032c-.13557.85589-1.44473.55007-1.30989-.30118Z" transform="translate(-181.12525 -149.05289)" fill="#fff" />
                        <path d="M192.93568,672.48616a10.19912,10.19912,0,0,0,5.79321-7.75229c.12466-.85718,1.43374-.55043,1.30989.30118a11.42894,11.42894,0,0,1-6.38983,8.5903.69462.69462,0,0,1-.92624-.213.67542.67542,0,0,1,.213-.92623Z" transform="translate(-181.12525 -149.05289)" fill="#fff" />
                        <path d="M304.67811,704.95712l-.55,5.07-8.75-.13-1.32,9.14-.23,1.57v.01l-.9,6.25-1.91,13.22,3.81-.02-.36,6.5-.1,1.88.53.4.12.1.04.03c-.11.22-.23.44-.35.67.07-.24.12-.46.17-.7h-25.32c-.47-.79-.93-1.58-1.38-2.38a174.53862,174.53862,0,0,1-10.31-21.12c-.18-.45-.37-.9-.53-1.36v-.01a131.37243,131.37243,0,0,1-6.23-20.48v-.01a114.0249,114.0249,0,0,1-1.87-11.58,96.48787,96.48787,0,0,1,1.49-30.11,1.13683,1.13683,0,0,0,.04-.15c3.99-18.88995,13.72-36.35,29.13-47.41.64-.48,1.3-.93,1.97-1.37.01-.01.01-.01.02-.01a.0098.0098,0,0,0,.01-.01c.42-.27.83-.54,1.25-.81-.06.54-.13,1.08-.18,1.62a132.8966,132.8966,0,0,0-.64,21.76v.02c.01.56.04,1.12.08,1.69v.02a141.58515,141.58515,0,0,0,12.71,50.4.61489.61489,0,0,0,.05.12c.02.05.04.09.06006.14A134.90206,134.90206,0,0,0,304.67811,704.95712Z" transform="translate(-181.12525 -149.05289)" fill="#f0f0f0" />
                        <path d="M283.56648,612.62961c-.20037.36929-.40892.75007-.59772,1.12752q-2.24011,4.23549-4.1241,8.65341a117.99148,117.99148,0,0,0-5.5865,16.02753c-.11951.42643-.23734.86266-.34531,1.29719a119.26354,119.26354,0,0,0-3.69616,36.59449c.00059.12166.00936.23181.01982.35177q.23871,4.31182.82731,8.594a51.78267,51.78267,0,0,0,4.29694,15.61789c.314.64617.64593,1.27909.99423,1.889a27.34522,27.34522,0,0,0,3.005,4.20177,27.92337,27.92337,0,0,0,2.63239,2.683c.56485.51172,1.14768,1.01024,1.75672,1.484.35153.27439.71294.54714,1.07435.8199.29859.20235.589.41627.8876.61863,3.10465,2.12492,6.45316,4.01515,9.34734,6.45021l-.22727,1.57113c-2.82069-2.539-6.22518-4.46015-9.3561-6.56031a37.89586,37.89586,0,0,1-5.48681-4.41455c-.22143-.22577-.45272-.44985-.666-.68717a26.74857,26.74857,0,0,1-3.08193-3.82328c-.46213-.68159-.89805-1.388-1.30945-2.129a47.89233,47.89233,0,0,1-4.8778-15.39633,103.41641,103.41641,0,0,1-1.14849-10.34494c-.03679-.45023-.062-.89234-.07912-1.346a121.638,121.638,0,0,1,1.35224-24.72615,122.65965,122.65965,0,0,1,8.789-30.1032q1.80169-4.12977,3.92947-8.13289c.18064-.36589.37284-.72361.5732-1.09289C282.87646,611.09429,283.97364,611.86969,283.56648,612.62961Z" transform="translate(-181.12525 -149.05289)" fill="#fff" />
                        <path d="M268.54285,677.2739a18.01811,18.01811,0,0,1-17.691-15.21154c-.13175-.85469,1.1902-1.09958,1.32213-.24376a16.68437,16.68437,0,0,0,16.48524,14.11628c.86486.001.74355,1.34005-.11637,1.339Z" transform="translate(-181.12525 -149.05289)" fill="#fff" />
                        <path d="M282.45412,711.44425a34.72848,34.72848,0,0,0,10.489-23.03325c.04632-.86436,1.38528-.74695,1.339.11637a36.1228,36.1228,0,0,1-10.96349,23.946c-.62355.60176-1.48471-.43062-.86454-1.02912Z" transform="translate(-181.12525 -149.05289)" fill="#fff" />
                        <path d="M272.84075,638.36259a10.19911,10.19911,0,0,0,9.293-2.70185c.61561-.60936,1.47615.42372.86454,1.02912a11.429,11.429,0,0,1-10.27388,3.01176.69463.69463,0,0,1-.61133-.7277.67544.67544,0,0,1,.7277-.61133Z" transform="translate(-181.12525 -149.05289)" fill="#fff" />
                        <path d="M479.75813,749.75711a1.18642,1.18642,0,0,1-1.19,1.19h-280.29a1.19,1.19,0,1,1,0-2.38h280.29A1.18646,1.18646,0,0,1,479.75813,749.75711Z" transform="translate(-181.12525 -149.05289)" fill="#ccc" />
                        <path d="M964.83026,259.971H783.61394a5.91006,5.91006,0,1,1,0-11.82011H964.83026a5.91006,5.91006,0,1,1,0,11.82011Z" transform="translate(-181.12525 -149.05289)" fill="#6c63ff" />
                        <path d="M964.83026,283.3246H783.61394a5.91036,5.91036,0,0,1,0-11.82071H964.83026a5.91036,5.91036,0,0,1,0,11.82071Z" transform="translate(-181.12525 -149.05289)" fill="#6c63ff" />
                        <path d="M862.16685,306.67821H783.61394a5.91036,5.91036,0,0,1,0-11.82071h78.55291a5.91036,5.91036,0,1,1,0,11.82071Z" transform="translate(-181.12525 -149.05289)" fill="#6c63ff" />
                        <path d="M964.83026,392.78473H783.61394a5.91006,5.91006,0,1,1,0-11.82012H964.83026a5.91006,5.91006,0,1,1,0,11.82012Z" transform="translate(-181.12525 -149.05289)" fill="#e6e6e6" />
                        <path d="M964.83026,416.13834H783.61394a5.91035,5.91035,0,0,1,0-11.82071H964.83026a5.91035,5.91035,0,0,1,0,11.82071Z" transform="translate(-181.12525 -149.05289)" fill="#e6e6e6" />
                        <path d="M862.16685,439.492H783.61394a5.91035,5.91035,0,0,1,0-11.82071h78.55291a5.91036,5.91036,0,1,1,0,11.82071Z" transform="translate(-181.12525 -149.05289)" fill="#e6e6e6" />
                        <path d="M964.83026,532.90087H783.61394a5.91006,5.91006,0,1,1,0-11.82012H964.83026a5.91006,5.91006,0,1,1,0,11.82012Z" transform="translate(-181.12525 -149.05289)" fill="#e6e6e6" />
                        <path d="M964.83026,556.25448H783.61394a5.91036,5.91036,0,0,1,0-11.82071H964.83026a5.91036,5.91036,0,0,1,0,11.82071Z" transform="translate(-181.12525 -149.05289)" fill="#e6e6e6" />
                        <path d="M862.16685,579.60809H783.61394a5.91035,5.91035,0,0,1,0-11.82071h78.55291a5.91036,5.91036,0,1,1,0,11.82071Z" transform="translate(-181.12525 -149.05289)" fill="#e6e6e6" />
                        <path d="M711.31844,457.041H602.22229a11.04042,11.04042,0,0,1-11.02789-11.02794V374.44351a11.04042,11.04042,0,0,1,11.02789-11.02795H711.31844a11.04043,11.04043,0,0,1,11.02794,11.02795v71.56954A11.04043,11.04043,0,0,1,711.31844,457.041Z" transform="translate(-181.12525 -149.05289)" fill="#e6e6e6" />
                        <path d="M703.65136,372.35869h-93.7586A10.05414,10.05414,0,0,0,599.84844,382.398v55.65812a10.05841,10.05841,0,0,0,10.04432,10.04431h59.78665a44.05513,44.05513,0,0,0,44.01126-44.01129V382.398A10.04984,10.04984,0,0,0,703.65136,372.35869Z" transform="translate(-181.12525 -149.05289)" fill="#fff" />
                        <path d="M677.15487,391.17515v0l-.28021.50511c2.49411-6.14676.22614-13.721-4.22314-18.35586-4.44911-4.63484-10.63441-6.75374-16.72489-7.59438-4.52126-.624-9.21426-.606-13.51329,1.05012-6.22555,2.39828-10.982,7.9501-14.95322,13.72553-1.81652,2.64161-3.60251,5.65319-3.42156,8.95489.168,3.064,1.98673,5.66413,3.47613,8.26368,1.48958,2.59955,2.73339,5.82474,1.66439,8.662-.637,1.69076-1.98332,2.90846-3.07568,4.29157s-1.991,3.25256-1.46331,4.98794a4.06954,4.06954,0,0,0,3.03185,2.6349,10.72079,10.72079,0,0,0,4.028-.09542l34.7156-5.245A14.79527,14.79527,0,0,0,677.15487,391.17515Z" transform="translate(-181.12525 -149.05289)" fill="#2f2e41" />
                        <circle cx="470.20758" cy="246.69214" r="16.97311" fill="#ffb9b9" />
                        <path d="M695.62388,439.61866a43.76108,43.76108,0,0,1-25.94447,8.48178H617.59572c-.10481-.08489-.20466-.16974-.30951-.2596l4.85741-13.55385a14.57563,14.57563,0,0,1,12.38069-8.50171l3.09017-.18971,7.36847-6.35506s19.854-.70892,19.55949-1.04838l12.02621,7.2337-.01-.04991,4.72764.28955a14.5692,14.5692,0,0,1,12.38066,8.50171Z" transform="translate(-181.12525 -149.05289)" fill="#6c63ff" />
                        <path d="M667.43221,379.992c-.43814-2.31783-2.80212-3.37794-4.82756-3.89163a46.503,46.503,0,0,0-17.99-.98789c-4.37663.62415-8.85712,2.00041-12.03275,5.41658a16.183,16.183,0,0,0-4.092,10.42214,12.41126,12.41126,0,0,0,1.48548,6.6211,6.13626,6.13626,0,0,0,5.10147,3.288l.20363.70823c8.52166-1.1873,16.43752-6.48956,21.423-14.34955a18.38387,18.38387,0,0,1-5.37093,8.67655,33.46489,33.46489,0,0,0,14.446-11.13337C666.78668,383.424,667.76546,381.75536,667.43221,379.992Z" transform="translate(-181.12525 -149.05289)" fill="#2f2e41" />
                        <path d="M711.31844,324.22726H602.22229a11.04042,11.04042,0,0,1-11.02789-11.02795V241.62977a11.04042,11.04042,0,0,1,11.02789-11.02794H711.31844a11.04043,11.04043,0,0,1,11.02794,11.02794v71.56954A11.04043,11.04043,0,0,1,711.31844,324.22726Z" transform="translate(-181.12525 -149.05289)" fill="#ccc" />
                        <path d="M703.65136,239.545h-93.7586a10.05644,10.05644,0,0,0-10.04432,10.03931v55.65812a10.05842,10.05842,0,0,0,10.04432,10.04432h59.78665a44.04722,44.04722,0,0,0,44.01126-44.0113V249.58427A10.04984,10.04984,0,0,0,703.65136,239.545Z" transform="translate(-181.12525 -149.05289)" fill="#fff" />
                        <circle cx="453.11145" cy="93.29412" r="7.99542" fill="#2f2e41" />
                        <circle cx="465.90412" cy="111.41708" r="20.25507" fill="#2f2e41" />
                        <circle cx="467.58019" cy="115.2076" r="16.45953" fill="#9e616a" />
                        <path d="M659.88315,247.48227a18.85387,18.85387,0,0,0-28.66455,16.45445c8.387,2.10573,17.198,3.71717,26.14214.50367l2.11221-5.16948,1.24526,5.17331c2.72379,1.11331,5.45463,2.05529,8.18545-.01075A19.25087,19.25087,0,0,0,659.88315,247.48227Z" transform="translate(-181.12525 -149.05289)" fill="#2f2e41" />
                        <path d="M626.79245,220.64244A16.35453,16.35453,0,0,0,609.723,223.272a18.49735,18.49735,0,0,0-5.90342,16.46157c.90661,6.13825,4.63826,11.42409,8.078,16.58823s6.80024,10.82284,6.7964,17.02765a16.87924,16.87924,0,0,1-16.84573,16.86883c5.24515,2.258,10.71968,4.56038,16.424,4.29269s11.68322-3.93476,12.61371-9.569c.67048-4.05969-1.32128-8.01839-2.98248-11.78284a83.347,83.347,0,0,1-5.82492-19.17467c-.55479-3.15125-.916-6.46417.11133-9.49446a11.14894,11.14894,0,0,1,11.0756-7.31629l1.88479-1.69568A14.67339,14.67339,0,0,0,626.79245,220.64244Z" transform="translate(-181.12525 -149.05289)" fill="#2f2e41" />
                        <path d="M692.24418,309.04645a43.693,43.693,0,0,1-22.56477,6.24026H613.2575l-.08986-.0749,4.85741-13.55881a14.57057,14.57057,0,0,1,12.38069-8.49675l3.09018-.1897,7.36846-6.35507s19.854-.71388,19.55949-1.05338l12.02621,7.23373-.01-.04494,4.72764.28956a14.55487,14.55487,0,0,1,12.38066,8.49671Z" transform="translate(-181.12525 -149.05289)" fill="#6c63ff" />
                        <path d="M711.31844,597.15714H602.22229a11.04042,11.04042,0,0,1-11.02789-11.028V514.55965a11.04042,11.04042,0,0,1,11.02789-11.02794H711.31844a11.04043,11.04043,0,0,1,11.02794,11.02794v71.56954A11.04043,11.04043,0,0,1,711.31844,597.15714Z" transform="translate(-181.12525 -149.05289)" fill="#e6e6e6" />
                        <path d="M703.65133,512.47484H609.89276a10.05413,10.05413,0,0,0-10.04432,10.03931v55.65812a10.05842,10.05842,0,0,0,10.04432,10.04432h59.78665a44.05506,44.05506,0,0,0,44.0113-44.0113V522.51415A10.04987,10.04987,0,0,0,703.65133,512.47484Z" transform="translate(-181.12525 -149.05289)" fill="#fff" />
                        <circle cx="475.56369" cy="376.24604" r="22.58285" fill="#2f2e41" />
                        <circle cx="475.57288" cy="381.62127" r="20.17423" fill="#ffb8b8" />
                        <path d="M697.05165,578.64651a43.80863,43.80863,0,0,1-27.37224,9.57008H619.36795l4.77255-13.31424a14.57565,14.57565,0,0,1,12.38069-8.50171l3.09018-.1897,7.36847-6.35507s19.854-.70891,19.55948-1.04838l12.02618,7.2337-.01-.04991,4.72767.28956a14.56916,14.56916,0,0,1,12.38063,8.50171Z" transform="translate(-181.12525 -149.05289)" fill="#6c63ff" />
                        <path d="M677.98227,523.599a44.63841,44.63841,0,0,0,.19434-4.53147,21.32961,21.32961,0,0,0-1.60891-8.73386,13.42053,13.42053,0,0,0-7.02217-6.7839,12.81268,12.81268,0,0,0-9.60631.00841,19.34918,19.34918,0,0,0-9.12391-3.32206,10.20505,10.20505,0,0,0-8.699,3.69178,14.19819,14.19819,0,0,1-1.51978,1.97442c-1.61177,1.49261-4.06123,1.27731-6.20354.97212q1.44131,1.23531,2.88337,2.4706-1.7447.45582-3.48969.9116,2.03615,1.23486,4.072,2.46978c-3.94051,2.36517-5.73153,7.52749-5.25843,12.216.44758,4.43887,2.59062,8.49793,5.15248,12.10573,1.02193-2.15658.80176-4.73711.78488-7.166a16.21739,16.21739,0,0,1,.14382-2.35615c8.6578,2.07537,17.70413,3.40731,26.87819.11115l1.84106-4.50587c.25836.02657.51687.05153.7751.079l1.0666,4.4311c2.41822.98842,4.8415,1.85227,7.26573.94451.11794.68442.189,1.38291.24354,2.05425.208-.803.38856-1.612.55133-2.42422a7.16744,7.16744,0,0,0,.91787-.58633A19.72457,19.72457,0,0,0,677.98227,523.599Z" transform="translate(-181.12525 -149.05289)" fill="#2f2e41" />
                        <path d="M1016.23909,169.82787H545.69592a2.63855,2.63855,0,0,1-2.63566-2.63566V151.68855a2.63855,2.63855,0,0,1,2.63566-2.63566h470.54317a2.63854,2.63854,0,0,1,2.63566,2.63566v15.50366A2.63854,2.63854,0,0,1,1016.23909,169.82787Z" transform="translate(-181.12525 -149.05289)" fill="#e4e4e4" />
                        <circle id="e64f360c-0cb0-4309-94f7-c4048c501294" data-name="Ellipse 90" cx="377.23089" cy="9.63129" r="3.74198" fill="#fff" />
                        <circle id="b16bad97-612f-4358-a052-4ed2c41908d6" data-name="Ellipse 91" cx="391.43421" cy="9.63129" r="3.74198" fill="#fff" />
                        <circle id="b150c0f4-fbac-4380-a463-ed2b3702c90d" data-name="Ellipse 92" cx="405.6382" cy="9.63129" r="3.74198" fill="#fff" />
                        <path d="M1002.32286,156.10862H985.96719a1.21153,1.21153,0,1,1,0-2.42306h16.35567a1.21153,1.21153,0,1,1,0,2.42306Z" transform="translate(-181.12525 -149.05289)" fill="#fff" />
                        <path d="M1002.32286,160.65186H985.96719a1.21153,1.21153,0,1,1,0-2.42306h16.35567a1.21153,1.21153,0,1,1,0,2.42306Z" transform="translate(-181.12525 -149.05289)" fill="#fff" />
                        <path d="M1002.32286,165.1951H985.96719a1.21153,1.21153,0,1,1,0-2.42306h16.35567a1.21153,1.21153,0,1,1,0,2.42306Z" transform="translate(-181.12525 -149.05289)" fill="#fff" />
                        <circle cx="739.05639" cy="152.46696" r="6.76726" fill="#6c63ff" />
                        <circle cx="761.03257" cy="152.46696" r="6.76726" fill="#6c63ff" />
                        <circle cx="783.00874" cy="152.46696" r="6.76726" fill="#6c63ff" />
                        <circle cx="739.05639" cy="284.32399" r="6.76726" fill="#e6e6e6" />
                        <circle cx="761.03257" cy="284.32399" r="6.76726" fill="#e6e6e6" />
                        <circle cx="783.00874" cy="284.32399" r="6.76726" fill="#e6e6e6" />
                        <circle cx="739.05639" cy="424.68793" r="6.76726" fill="#e6e6e6" />
                        <circle cx="761.03257" cy="424.68793" r="6.76726" fill="#e6e6e6" />
                        <circle cx="783.00874" cy="424.68793" r="6.76726" fill="#e6e6e6" />
                        <path d="M727.56147,307.35788l-34.882-22.08563a4.38551,4.38551,0,0,0-6.73132,3.74475l.34289,38.08118a4.38549,4.38549,0,0,0,8.44141,1.628l4.53845-11.03955L711.925,342.63419a5,5,0,0,0,8.91833-4.52362l-12.94183-25.5149,16.586,2.79212A4.3855,4.3855,0,0,0,727.56147,307.35788Z" transform="translate(-181.12525 -149.05289)" fill="#3f3d56" />
                        <path d="M285.90231,544.46207a8.56625,8.56625,0,0,0-1.70826-13.02377l7.02037-29.621L276.356,507.24573l-4.38869,27.29637a8.61267,8.61267,0,0,0,13.935,9.92Z" transform="translate(-181.12525 -149.05289)" fill="#ffb8b8" />
                        <path d="M321.63348,420.33464l-5.96312,15.33373s2.55562,15.33372-1.70375,18.74122-2.55562,3.40749-2.55562,5.96311a13.10381,13.10381,0,0,1-5.11124,9.37061c-3.40749,2.55562-18.74122,54.51991-18.74122,54.51991H272.22481a48.04248,48.04248,0,0,0,0-11.92623c-.85187-5.96311,2.55562-21.29684,4.25937-23.85246s0-5.96311,0-11.07436,3.40749-7.66686,3.40749-16.18559,10.22248-74.96488,9.37061-82.63174S297.781,364.111,297.781,364.111h8.51873Z" transform="translate(-181.12525 -149.05289)" fill="#e6e6e6" />
                        <polygon points="109.39 581.98 120.427 581.98 125.68 539.406 109.389 539.406 109.39 581.98" fill="#ffb6b6" />
                        <path d="M286.91257,723.47319l17.63395-1.05251v7.55515l16.7651,11.57858a4.71923,4.71923,0,0,1-2.68163,8.60272H297.63611l-3.61862-7.4732-1.41289,7.47321h-7.91553Z" transform="translate(-181.12525 -149.05289)" fill="#2f2e41" />
                        <polygon points="171.39 581.98 182.427 581.98 187.68 539.406 171.389 539.406 171.39 581.98" fill="#ffb6b6" />
                        <path d="M348.91257,723.47319l17.63395-1.05251v7.55515l16.7651,11.57858a4.71923,4.71923,0,0,1-2.68163,8.60272H359.63611l-3.61862-7.4732-1.41289,7.47321h-7.91553Z" transform="translate(-181.12525 -149.05289)" fill="#2f2e41" />
                        <path d="M285.75246,694.31943h.12l6.12275-69.22333a18.10108,18.10108,0,0,1,.2375-17.1052l.30392-.55014-.788-3.65272a23.26642,23.26642,0,0,1,1.32959-14.00271l-2.01968-64.57253c-7.07489-45.85117,26.6419-75.75357,26.6419-75.75357h50.50822l10.84353,37.2558c4.07137,39.666,16.80334,81.38694,15.11676,119.84069-1.283,29.25228-15.70966,55.50585-20.62439,83.99348l.31012.15682c1.11665.38545,1.59557,1.93234,1.07,3.45519s-1.85694,2.44491-2.9736,2.05946l-26.67413-.92778c-1.11666-.38537-1.59576-1.93234-1.07-3.45519.52557-1.52285,1.85694-2.44482,2.97359-2.05946l1.81368.91734,13.13206-69.79789.42925-12.20105-.88432-13.84185-21.08866-59.26058-15.47615,76.563-15.80813,82.93272a2.908,2.908,0,0,1-1.96091,5.0635h-21.5849a2.917,2.917,0,1,1,0-5.834Z" transform="translate(-181.12525 -149.05289)" fill="#2f2e41" />
                        <path d="M281.56694,480.60093c-1.65821,0-2.6001-.32519-2.96485-1.02246-.53515-1.02343.39356-2.36035,1.46875-3.90918a11.959,11.959,0,0,0,1.86328-3.35644c.64307-2.57227,4.9834-67.54688,2.38721-80.5293-.60059-3.00391-.0835-6.85449,1.53613-11.44433,4.42432-12.53516,10.46338-16.3877,22.49414-24.06153q1.46486-.93458,3.05078-1.95215c1.36768-.8789,1.29151-3.793,1.21094-6.8789-.08935-3.42969-.18213-6.97657,1.49805-9.19336l.10937-.14453.17627-.041c4.064-.93945,17.73243-2.68359,25.82715.0127l.11182.03808.08349.083c1.92286,1.92285,2.09815,5.64746,2.26758,9.249.13867,2.957.27,5.749,1.35791,6.96192,8.3169,9.27051,17.74951,9.08984,17.84522,9.08789l.46728-.01367.04639.46484c3.61768,36.79785,9.44971,92.33789,10.689,94.52344a.6524.6524,0,0,1,.02051.67578C371.294,462.55015,287.81694,480.60093,281.56694,480.60093Zm90.689-21.5791Z" transform="translate(-181.12525 -149.05289)" fill="#e6e6e6" />
                        <circle cx="154.76527" cy="153.93128" r="24.66737" fill="#ffb8b8" />
                        <path d="M268.12756,291.971c4.17064-4.86365,6.1535-11.31649,9.48761-16.83941,3.33416-5.523,9.1362-10.466,15.26573-9.18077,4.22529.886,7.49073,4.61452,9.14393,8.77137,1.65282,4.1568,1.96267,8.74094,2.25239,13.23182-.10233-9.22895,5.978-18.17582,14.35376-21.12066,8.37516-2.94483,18.39875.34,23.66166,7.75437a12.78919,12.78919,0,0,1,16.98635-.35657c4.7075,4.20741,5.74928,12.21551,2.28725,17.58217a12.87677,12.87677,0,0,1-16.46162,4.38948l-1.94509,1.78926a8.43251,8.43251,0,0,1-4.59754,9.7942c-2.89417,1.169-6.98007.97446-8.06308,4.01169-.75688,2.1222.65774,4.38744,2.16256,6.01821,1.50445,1.63075,3.291,3.31477,3.47166,5.57143.27306,3.40492-3.24558,5.79014-6.44414,6.50849a20.09218,20.09218,0,0,1-20.7157-8.64581q-.12851-.19687-.27945-.39429a29.78351,29.78351,0,0,1-5.99072-22.7733c.25-1.57316-.0019-2.74327-1.08654-3.11583-4.688-1.61032-17.8225,1.76943-21.79747,4.824-3.97529,3.05456-7.15848,7.097-10.98729,10.34867-3.82914,3.25173-8.70838,5.76-13.57,4.87448-3.8937-.70919-7.20616-3.536-9.43425-6.94571a41.81324,41.81324,0,0,1-4.65858-11.334C249.779,301.70821,261.56286,299.62613,268.12756,291.971Z" transform="translate(-181.12525 -149.05289)" fill="#2f2e41" />
                        <path d="M375.43559,544.46207a8.56628,8.56628,0,0,1,1.70825-13.02377l-7.02036-29.621,14.85846,5.42843,4.3887,27.29637a8.61268,8.61268,0,0,1-13.935,9.92Z" transform="translate(-181.12525 -149.05289)" fill="#ffb8b8" />
                        <path d="M339.70442,420.33464l5.96311,15.33373s-2.55562,15.33372,1.70375,18.74122,2.55562,3.40749,2.55562,5.96311a13.10385,13.10385,0,0,0,5.11124,9.37061c3.4075,2.55562,18.74122,54.51991,18.74122,54.51991h15.33373a48.04248,48.04248,0,0,1,0-11.92623c.85187-5.96311-2.55563-21.29684-4.25937-23.85246s0-5.96311,0-11.07436-3.4075-7.66686-3.4075-16.18559-10.22248-74.96488-9.37061-82.63174-8.51873-14.48185-8.51873-14.48185h-8.51874Z" transform="translate(-181.12525 -149.05289)" fill="#e6e6e6" />
                    </svg>
                </div>
            </div>
        </section>

        <!-- ARTİCLE SECTION -->
        <section class="work section" id="work">
            <h2 class="section-title" data-aos="fade-down">Makaleler</h2>

            <div class="work_container bd_grid"
                 data-aos="fade-down"
                 data-aos-delay="250">
                <div class="work_img">
                    <img src="./assets/img/work1.jpg" alt="" />
                </div>

                <div class="work_img">
                    <img src="./assets/img/work2.jpg" alt="" />
                </div>

                <div class="work_img">
                    <img src="./assets/img/work3.jpg" alt="" />
                </div>

                <div class="work_img">
                    <img src="./assets/img/work4.jpg" alt="" />
                </div>

                <div class="work_img">
                    <img src="./assets/img/work5.jpg" alt="" />
                </div>

                <div class="work_img">
                    <img src="./assets/img/work6.jpg" alt="" />
                </div>
            </div>
        </section>

        <!-- CONTACT SECTION -->

        <section class="contact section" id="contact">
            <h2 class="section-title" data-aos="fade-down">İletişim</h2>

            <div class="contact_container bd_grid">
                <form action="#" class="contact_form">
                    <input type="text"
                           placeholder="İsim"
                           class="control_input"
                           data-aos="fade-right"
                           data-aos-delay="250" />
                    <input type="mail"
                           placeholder="Email"
                           class="control_input"
                           data-aos="fade-right"
                           data-aos-delay="300" />
                    <textarea name=""
                              id=""
                              cols="0"
                              rows="10"
                              class="control_input"
                              data-aos="fade-right"
                              data-aos-delay="400"></textarea>

                    <input type="button"
                           value="Gönder"
                           class="control_button button"
                           data-aos="fade-right"
                           data-aos-delay="450" />
                </form>
            </div>
        </section>

        
    </main>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script>
        AOS.init({
            duration: 1200,
            once: false,
        });
    </script>
</body>
</html>

@section Scripts {
    <script src="~/js/aboutGet.js"></script>
    <script src="~/js/socialmediaLinks.js"></script>
    <script>
        var app = app || {}
        app.Urls = app.Urls || {}

        app.Urls.socialLinksUrl = "@(Url.Action("GetSocialMediaLinks", "Home"))";
        app.Urls.aboutGetUrl = "@(Url.Action("GetAbout", "Home"))";
    </script>
}
