
.articles-container {
	max-width: 800px;
	margin: auto;
}

.article-card {
	display: flex;
	background-color: white;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 20px; /* Adds space between each card */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
	flex: 1;
}

	.image-container img {
		width: 100%;
		height: auto;
		display: block;
	}

.content {
	flex: 2;
	padding: 20px;
}

.category {
	display: inline-block;
	background-color: #0e2431;
	color: white;
	padding: 5px 10px;
	border-radius: 4px;
	font-size: 14px;
	margin-bottom: 10px;
}

h1 {
	font-size: 24px;
	margin: 10px 0;
}

p {
	font-size: 16px;
	color: #666;
	margin: 5px 0;
}

.meta {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #999;
	margin-top: 15px;
}

	.meta span {
		margin-right: 15px;
	}

	.meta .views::before {
		margin-right: 5px;
	}
